*{
    margin:0;
    padding:0;
}
body{
    /* background-color:#282A35; */
    /* color:whitesmoke; */
    font-family: sans-serif;
}
header{
    background-image: url(images/background.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    
}

/* ---------------- Logo section -----------------*/
.logo{
    text-decoration: none;
    color:#282A35;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;

}
#mohacel{
    color: rgb(201, 11, 115);
}
#mohacel:hover{
    color: cyan;
    transition: all 250ms ease-in-out;
}

/*------------ Menu section -----------*/
.container{
    position: fixed;
    margin-left: 60%;
}
/*  */
.container{
    margin-top: 20px;
    margin-right: 20px;
}
.container ul {
    list-style-type:none;
    margin-top: 10px;
}
.container ul li{
    float: right;
    margin-right: 16px;
    position: relative;

}
.container ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #292949;
    font-weight: 600;
}
.container ul li a:hover{
    color: rgb(92, 15, 192);
}
.container ul li a:hover::after{
    content: '';
    background: #1a9cbc;
    position:absolute;
    height: 2px;
    width: 100%;
    left:0%;
    top:20px;
}

/* -------------- Header Content ---------------- */
.header-text{
    max-width: 450px;
    margin-top: 40px;
    margin-left: 100px;
}
.header-title{
    color:black;
    margin:100px 0px  0px 00px;
    line-height: 40px;
    text-transform: capitalize;
    font-size: 30px;
}
.header-sub-title{
    color: crimson;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #f67c92;
    margin: 30px 0px;
}
.header-para{
    margin-right: 90px;
}
.btn{
    padding: 18px 35px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
    margin: 15px 0px;

}


.line-1{
    margin-top: 15px;
    width: 14px;
    height: 14px;
    background: #f67c92;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}

/* ---------------about------------- */
#about {
    display: flex;
    padding: 100px 0px;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col  img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.about-text h1{
    text-transform: capitalize;
    font-size: 30px;
}
.about-text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #282A35;
}
.about-text > .square{
    margin: 15px 0px;
}

.about-line-1{
    margin-top: 15px;
    width: 14px;
    height: 14px;
    background: #f67c92;
    display: inline-block;
    
}
.about-line-2{
    margin-top: 15px;
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.about-line-3{
    margin-top: 15px;
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.quote{
    margin-top: 15px;
    font-size: 18px;
    color: #282a35a9;
    font-style: italic;
}
.mohacel-quote{
    font-style: italic;
}
/* --------------Feature-------------- */
#feature{
    margin-bottom: 100px;
}
.feature-container{
    display: flex;
    padding: 100px 0px;
    align-items: center;
    justify-content:space-evenly;
}
.feature-item{
    width: 350px;
    border:1px solid #1a9cbc ;
    text-align: center;
    box-shadow: 2px 3px 10px #888888;
    border-radius: 5%;
}
.feature-item img{
    width: 120px;
}
.feature-item h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}
.feature-item p{
    color: #282a35d2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 20px;
}

.feature-btn{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.feature-btn .feature-line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}
.feature-line-1{
    width: 14px;
    height: 14px;
    background: #f67c92;
    display: inline-block;
}
.feature-line-2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.feature-line-3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
    
}
.trial-btn{
    text-align: center;
    padding: 15px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    
}
/*---------- Course  ----------*/
#course{
    padding:100px 40px;
}
.course-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.course-right-col{
    flex-basis: 50%;
}
.course-right-col img{
    width: 100%;
}
.course-left-col{
    flex-basis: 50%;
}

.course-text{
    width: 450px;
    margin-left: 30px;
}
.course-text h3{
    text-transform: capitalize;
    font-size: 30px;
}
.course-text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #282A35;
}
.course-text .square{
    margin: 10px 0px;
}
.Course-line{
    margin: 20px 0px;
}
.course-text > .trial-btn{
    margin-top: 20px;
}
/*----------- offer -----------*/
#offer{
    padding:100px 0px;
}
.offer-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.offer-left-col{
    flex-basis: 50%;
}
.offer-left-col img{
    width: 100%;
}
.offer-right-col{
    flex-basis: 50%;
    max-width: 450px;
    text-align: right;
    margin-right: 70px;
}
.offer-text h3{
    text-transform: capitalize;
    font-size: 30px;
}
.offer-text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #282A35;
}
.offer-text .square{
    margin: 10px 0px;
}
.offer-text > .trial-btn{
    margin-top: 20px;
}

/* ------------- Contact---------------- */
#contact{
    padding: 100px 40px;
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact-right-col{
    flex-basis: 50%;
}
.contact-right-col img{
    width: 100%;
}
.contact-left-col{
    flex-basis: 50%;
}
.contact-left-col h3{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 20px;
}
.form{
    margin-left: 40px;
}
.signUp-form{
    font-size: 12px;
}
#name,#email,#password{
    width: 47%;
    border: 1px solid #f67c92;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.sign-btn{
    padding:15px 45px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    margin-right: 5px;
}
/* -------------Footer ----------- */
#footer{
    padding: 20px 0px 0px 0px;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: left;
}
.footer-container h3{
    text-align: center;
    font-size: 14px;
    color: #f67c92;
    margin-bottom: 15px;
}
.footerText{
    list-style-type: none;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.fifth-col{
    margin-top: 30px;
    font-size: 16px;
}
.sixth-col{
    margin-right: 12px;
}
.english{
    margin-left:20%;
}


/*##############################################*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color:#888888;
    }

    .Menu{
        border: #1a9cbc 1px solid;
        margin-left: 70%;
        padding: 10%;
        margin-top: 0%;
    }
    .Menu ul{  
        display: flex;
        flex-direction: column;
        flex-basis: auto;

    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) ##*/
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) ##*/
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}